* {
    margin:0 ;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

body {
    /* margin-top: 0; */
}
ul{
    list-style: none;
    /* text-decoration: none; */
}

a{
    text-decoration: none;
}
i {
  font-size: 50px;
  color: #198754;
  margin: 20px;
}
.navbar {
  z-index: 1000;
    height: 60px;
    background-color: #242A39;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container-nav {
    margin-top: 0px;
   
}
.container-nav a{
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;
}
.navbar-home {
    /* width: 20px; */
    /* background-color: rebeccapurple; */
    margin-left: 20px;
    /* padding-left: 10px; */
}
.ul-navbar {
    height: 60px;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    /* align-content: center; */
    align-items: center;
}
.ul-navbar li{
    border-right: wheat solid 1px;
    width: 100%;
    text-align: center;
}
/* start container  */
.containers {
    margin-top: 150px;
    margin-left: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #242A39; */
    width: 100%;
    flex-direction: column;
    /* margin: auto; */
}
.containers .text-p{

    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #198754;
    /* background-color: red; */
}
.box {
    margin-top: 10px;
    margin-left: 20px;
    height: 150px;
    width: 350px;
    border: #abb0bc solid 0.5px ;
    color: #198754;
    /* background-color: #f07b26; */
}
.box p {
  color: green;
  font-size: 30px;

}
.rows {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
}
/* end container  */
/* start footer  */
/* ==========Footer design starts here========= */
.footer-container {
    background-color: rgb(205, 220, 242);
    text-align: center;
    justify-content: center;
    height: 6vh;
    box-shadow: 5px 0px 5px 3px #1f3041;
    border-radius: 3px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  
  .footer-container .container-fluid {
    --text-hover-color: #274050;
}
  .footer-container h5 {
    font-size: 15px;
    font-weight: bolder;
  }
  
  /* ==========Footer design ends here========= */
  
  /* ==========Appoinment page design start here========= */
  .form-label {
    padding-left: 5px;
  }
  .appointment-text {
    justify-content: center;
    text-align: justify;
  }
  .appoinment-form {
    padding-left: 10px;
  }
  /* ==========Appoinment page  design ends here========= */
  
  /* Team Carasoul starts */
  
  /* Team carasoul ends */
  
  /* Back to Top button */
  .back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    z-index: 100;
  }
  /* Media Screen */
  
  /* For Tablet View */
  @media (min-width: 768px) {
    .team-card img {
      width: 150px;
      height: 200px;
      padding: 10px;
    }
  }
  
  /* For Mobile Landscape View */
  @media screen and (max-width: 640px) {
    .team-card img {
      width: 180px;
      height: 200px;
      padding: 10px;
    }
  
    .contact-div {
      height: 150px;
      width: 200px;
      align-items: center;
      text-align: center;
    }
    .contact-container {
      padding-left: 20vh;
    }
  }
  
/* end footer  */